<h2 class="p-3">Pending</h2>

<div class="m-2 d-flex flex-wrap">
  <% if current_user.bookings.pending.size > 0 %>
    <% current_user.bookings.each do |booking| %>
    <% if booking.pending? %>
      <div class="m-4 card-booking">
        <% if booking.item.photos.attached? %>
        <%= cl_image_tag booking.item.photos.first.key %>
        <% else %>
        <img src='https://source.unsplash.com/800x450/?<%= booking.item.name %>' alt='<%= booking.item.name %>' >
        <% end %>

        <div class="d-flex justify-content-between align-items-center p-2">
          <div class="d-flex flex-column justify-content-between p-2">
            <h1> <%=booking.item.user.first_name%>'s <%= booking.item.name %></h1>
            <h2>Status: <%=booking.status%></h2>
          </div>
          <div class="d-flex pt-40 px-4">
            <i class="far fa-calendar-alt pr-2"></i>
            <h3><%= booking.date_start.strftime("%D") %>  -  <%= booking.date_end.strftime("%D") %></h3>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  <% else %>
    <p>You currently have no pending bookings!</p>
  <% end %>
</div>

<h2 class="p-3">Confirmed</h2>

<div class="m-2 d-flex flex-wrap">
  <% if current_user.bookings.confirmed.size > 0 %>
    <% current_user.bookings.each do |booking| %>
    <% if booking.confirmed? %>
      <div class="m-4 card-booking">
        <% if booking.item.photos.attached? %>
        <%= cl_image_tag booking.item.photos.first.key %>
        <% else %>
        <img src='https://source.unsplash.com/800x450/?<%= booking.item.name %>' alt='<%= booking.item.name %>' >
        <% end %>

        <div class="d-flex justify-content-between align-items-center p-2">
          <div class="d-flex flex-column justify-content-between p-2">
            <h1> <%=booking.item.user.first_name%>'s <%= booking.item.name %></h1>
            <h2>Status: <%=booking.status%></h2>
          </div>
          <div class="d-flex pt-40 px-4">
            <i class="far fa-calendar-alt pr-2"></i>
            <h3><%= booking.date_start.strftime("%D") %>  -  <%= booking.date_end.strftime("%D") %></h3>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  <% else %>
    <p>You currently have no confirmed bookings!</p>
  <% end %>
</div>

<h2 class="p-3">Declined</h2>

<div class="m-2 d-flex flex-wrap">
  <% if current_user.bookings.declined.size > 0 %>
    <% current_user.bookings.each do |booking| %>
    <% if booking.declined? %>
      <div class="m-4 card-booking">
        <% if booking.item.photos.attached? %>
        <%= cl_image_tag booking.item.photos.first.key %>
        <% else %>
        <img src='https://source.unsplash.com/800x450/?<%= booking.item.name %>' alt='<%= booking.item.name %>' >
        <% end %>

        <div class="d-flex justify-content-between align-items-center p-2">
          <div class="d-flex flex-column justify-content-between p-2">
            <h1> <%=booking.item.user.first_name%>'s <%= booking.item.name %></h1>
            <h2>Status: <%=booking.status%></h2>
          </div>
          <div class="d-flex pt-40 px-4">
            <i class="far fa-calendar-alt pr-2"></i>
            <h3><%= booking.date_start.strftime("%D") %>  -  <%= booking.date_end.strftime("%D") %></h3>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  <% else %>
    <p>You currently have no declined bookings!</p>
  <% end %>
</div>
