<div class="d-flex flex-wrap justify-content-flex-start">
  <% current_user.items.each do |item| %>
  <div class="card-item" id="relative">
    <%= link_to item_path(item), style: 'text-decoration: none' do%>
    <% if item.photos.attached? %>
    <%= cl_image_tag item.photos.first.key, crop: :fill %>
    <% else %>
    <img src='https://source.unsplash.com/800x450/?<%= item.name %>' alt='<%= item.name %>' >
    <% end %>
    <% end %>

    <div class="d-flex justify-content-start card-item-name px-2 pt-2">
      <h2><%= item.name %></h2>
      <h3><i class="fas fa-map-marker-alt"></i> <%= item.location %></h3>
    </div>

    <div class="px-2 card-item-description m-0">
      <p><%= item.description %></p>
    </div>

    <div class="d-flex justify-content-start align-items-baseline px-2 card-item-price">
      <h2><%= item.price %>€ </h2>
      <h3 id="day">  / day</h3>
    </div>

    <div class="edit-btn">
      <p><%= link_to 'Edit', edit_item_path(item), class:"link-cool"%></p>
    </div>
    <div class="delete-btn">
      <%= link_to item_path(item), method: :delete do %><i class="fas fa-trash"></i><% end %>
    </div>
  </div>
  <% end %>
</div>

<br>
<br>


<h2 class="p-3">Items currently out in the neighborhood</h2>

<% if current_user.bookings_as_owner.count > 0 %>
  <div class="p-2 d-flex flex-wrap">
    <% current_user.bookings_as_owner.each do |request| %>
      <% if request.confirmed? && request.date_start.past? && request.date_end.future? %>
        <div class="p-2 card-booking">
          <% if request.item.photos.attached? %>
            <%= cl_image_tag request.item.photos.first.key %>
          <% else %>
            <img src='https://source.unsplash.com/800x450/?<%= request.item.name %>' alt='<%= request.item.name %>' >
          <% end %>
          <div class="card-avatar">
            <% if request.item.user.photo.attached? %>
              <%= cl_image_tag request.item.user.photo.key %>
            <% else %>
              <img src='https://www.pphfoundation.ca/wp-content/uploads/2018/05/default-avatar.png' alt='Default Avatar' >
            <% end %>
          </div>
          <div class="card-booking-neighbor">
            <h2><%= request.user.first_name %></h2>
          </div>
          <br>
          <br>
          <br>
          <div class="current-requests px-3">
            <div class="d-flex pt-40 px-2">
              <h3>Returning
                <% if (request.date_end - Date.today).to_i == 1 %>
                  tomorrow!
                <% elsif (request.date_end - Date.today).to_i == 0 %>
                  today!
                <% else %>
                  in <strong><%= (request.date_end - Date.today).to_i %> days</strong>
                <% end %>
              </h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>None of your items are currently out in the neighborhood</p>
<% end %>
