<div class="p-2 d-flex flex-wrap">
  <% current_user.bookings_as_owner.each do |request| %>
    <% unless request.declined? %>
      <div class="p-2 card-booking">
        <% if request.item.photos.attached? %>
          <%= cl_image_tag request.item.photos.first.key %>
        <% else %>
          <img src='https://source.unsplash.com/800x450/?<%= request.item.name %>' alt='<%= request.item.name %>' >
        <% end %>

        <br>
        <br>
        <br>
        <div class="d-flex flex-column justify-content-between p-2">
          <div class="d-flex pt-40 px-4">
            <i class="far fa-calendar-alt pr-2"></i>
            <h3><%= request.date_start.strftime("%D") %>  -  <%= request.date_end.strftime("%D") %></h3>
          </div>
        </div>

        <div class="card-booking-neighbor">
          <h2><%= request.user.first_name %></h2>
        </div>

        <div class="card-avatar">
          <% if request.item.user.photo.attached? %>
            <%= cl_image_tag request.item.user.photo.key %>
          <% else %>
            <img src='https://www.pphfoundation.ca/wp-content/uploads/2018/05/default-avatar.png' alt='Default Avatar' >
          <% end %>
        </div>

        <% if request.pending?  %>
          <div class="d-flex accept-btn p-2">
            <%= link_to accept_path(request) do%><i class="fas fa-check"></i><% end %>
          </div>
          <div class="d-flex decline-btn p-2">
            <%= link_to decline_path(request) do%><i class="fas fa-ban"></i><% end %>
          </div>
        <% elsif request.confirmed? %>
          <div class="confirmed-btn">
            <h1>CONFIRMED</h1>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
