<div class="navbar navbar-expand-sm navbar-light navbar-smartneb nav">


 <!-- --- -->

  <div class="navbar-left">
    <%= link_to root_path do %>
    <%= image_tag "logo_transparent.png", alt: "SmartNeighbour", size:"140x58" %>
    <% end %>
 <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent ">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link text-white" href="/">Home</a>
    </li>
    <li class="nav-item text-white">
      <a class="nav-link text-white" href="/items">Borrow</a>
    </li>
    <li class="nav-item text-white">
      <a class="nav-link text-white" href="/items/new">Lend</a>
    </li>
    <li class="nav-item text-white">
      <a class="nav-link text-white" href="mailto:support@smartneighbour.com?body=I%20want%20to%20give%20you%201000%20%E2%82%AC"> Contact</a>
    </li>
  </ul>
</div>
</div>

<div class="navbar-right">
<% if user_signed_in? %>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
   <li class="nav-item active">
    <a class="nav-link"; href="#"><i class="fas fa-bell"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="far fa-comment-dots"></i></a>
  </li>
  <li class="nav-item dropdown">
    <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src=
                    <% if current_user.photo.attached? %>
                      <%= cl_image_path current_user.photo.key %>
                    <% else %>
                      'https://www.pphfoundation.ca/wp-content/uploads/2018/05/default-avatar.png'
                    <% end %> />
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
       <%= link_to "My Account", account_path, class:"dropdown-item" %>
       <%= link_to "Dashboard", dashboard_path, class:"dropdown-item" %>
       <%= link_to "Sign out", destroy_user_session_path, method:"delete", class:"dropdown-item" %>
       <a class="dropdown-item" target="_blank" href="mailto:support@smartneighbour.com?body=I%20want%20to%20give%20you%201000%20%E2%82%AC"> Help </a>
     </div>
   </li>
 </ul>
</div>
<% else %>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
   <li class="nav-item dropdown text-white">
    <a class="nav-link text-white" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="https://cioday.com/wp-content/uploads/2018/11/avatar-placeholder.png"> Login <a/>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
       <%= link_to "Log in", new_user_session_path, class:"dropdown-item" %>
       <%= link_to "Sign up", new_user_registration_path, class:"dropdown-item" %>
       <a class="dropdown-item" target="_blank" href="mailto:support@smartneighbour.com?body=I%20want%20to%20give%20you%201000%20%E2%82%AC"> Help </a>
     </div>
   </li>
 </ul>
</div>
<% end %>
</div>
</div>


