<!--  -->
<h1>Welcome <%= current_user.first_name %></h1>

<h2>Your requests</h2>

<% current_user.bookings_as_owner.each do |request| %>
  <!-- insert card for current requests here -->
  <!-- Name of user who has requested item -->
  <p>Neighbor: <%= request.user.first_name %></p>
  <!-- Start date -->
  <p>From: <%= request.date_start %></p>
  <!-- end date -->
  <p>Till: <%= request.date_end %></p>
  <!-- item name -->
  <p>Item: <%= request.item.name %></p>
  <!-- item description -->
  <p>Description: <%= request.item.description %></p>
  <%= link_to accept_path(request) do%><i class="fas fa-check"></i><% end %>
  <%= link_to decline_path(request) do%><i class="fas fa-ban"></i><% end %>
<% end %>

<h2>Your items</h2>

<% current_user.items.each do |item| %>
  <!-- insert card for items here -->
  <!-- item name -->
  <p>Item: <%= item.name %></p>
  <!-- item description -->
  <p>Description: <%= item.description %></p>
  <!-- item price -->
  <p><%= item.price %></p>
<% end %>

<h2>Items currently out in the neighborhood</h2>

<% if current_user.bookings_as_owner %>
  <% current_user.bookings_as_owner.each do |request| %>
    <!-- insert card for currently rented out items here -->
    <% if request.status == confirmed && request.date_start.past? && request.date_end.future? %>
      <!-- Name of user who has requested item -->
      <p>Neighbor: <%= request.user.first_name %></p>
      <!-- end date -->
      <p>Time till return: <%= request.date_end - Date.today%></p>
      <!-- item name -->
      <p>Item: <%= request.item.name %></p>
      <!-- item description -->
      <p>>Description: <%= request.item.description %></p>
    <% end %>
  <% end %>
<% else %>
  <p>None of your items are currently out in the neighborhood</p>
<% end %>


<h2>Your bookings</h2>

<% current_user.bookings.each do |booking| %>
<p>Owner: <%=booking.item.user%></p>
<p>From: <%=booking.date_start%></p>
<p>Till: <%=booking.date_end%></p>
<p>Status: <%=booking.status%></p>
<% end %>
