<div class="container mb-6">
  <h1>Discover our smart items anywhere</h1>

  <div class="mb-6" id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <h2>What you can rent in your SmartNeighbourhood</h2>
  <div class="d-flex flex-wrap">
    <% @items.each do |item| %>

      <div class="card-item">
          <%= link_to item_path(item), style: 'text-decoration: none' do%>
            <% if item.photo.attached? %>
              <%= cl_image_tag item.photo.key, crop: :fill %>
            <% else %>
              <img src='https://source.unsplash.com/800x450/?<%= item.name %>' alt='<%= item.name %>' >
            <% end %>
          <% end %>

            <div class="d-flex justify-content-between my-2 mx-2">
              <h2><%= item.name.capitalize %></h2>
              <h2><%= item.price %>€ per day</h2>
            </div>

            <div class="d-flex justify-content-between mb-2 mx-2">
              <h1><%= item.location %></h1>
              <%= link_to 'more info', item_path(item), class:"link-info"%>
            </div>
      </div>

    <% end %>
    </div>
</div>
