<h1> <%= @item.name %></h1>

<!-- here we should showcase some images of the item -->

<p><%= @item.description %></p>
<p><%= @item.price %> per Day</p>
<p><%= @item.location %></p>

<%= link_to 'Back', items_path %>
