<!DOCTYPE html>
<html>
  <head>
    <title>SmartNeighbourhood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- has to be below navbar -->
    <%= render 'shared/flashes' %>
    <% if user_signed_in?  %>
    <!-- put navbar that displays user data and sign out button -->
    <%= link_to "Sign out", destroy_user_session_path, class:"" %>
    <% else %>
    <!-- put navbar that has log in and sign up button -->
    <%= link_to "Log in", new_user_session_path, class:"" %>
    <%= link_to "Sign up", new_user_registration_path, class:"" %>
    <% end %>
    <%= yield %>
  </body>
</html>
